html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        p  This is simple example with node.js  in the docker  container!!!
        p 
